<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="prjInventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <prjInventory.Properties.Settings>
            <setting name="dbHost1" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbUid1" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbPwd1" serializeAs="String">
                <value>pr0J3ctF</value>
            </setting>
            <setting name="dbPort1" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="dbName1" serializeAs="String">
                <value>cmbinvdb</value>
            </setting>
            <setting name="PdtImgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PdtImgField" serializeAs="String">
                <value />
            </setting>
        </prjInventory.Properties.Settings>
    </userSettings>
</configuration>